<!-- About Section -->
    <section id="experiencia">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience & Education</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
                        <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2020</h4>
                                    <h4 class="subheading">Programa de Ensino na Graduação</h4>
                                    <h6>Departamento de Matématica e Estatística<h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                <font face="Montserrat">Monitor na disciplina Estatística Experimental.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Planejamento e análise de experimentos agronômicos utilizando linguagem R.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Participação no ensino prático de linguagem R para alunos de graduação.
                                                </p>
                                                </li>
                                            <li>
                                                <p class="text-muted">
                                                 Acompanhamento e orientação dos alunos na disciplina.
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2019</h4>
                                    <h4 class="subheading">Programa de Iniciação Científica </h4>
                                    <h6>Departamento de Engenharia de Biossistemas</h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Análise espaço-temporal e extração de insights a partir de imagens geoespaciais utilizando Google Earth Engine.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Criação de aplicações para agricultura e meio ambiente em JavaScript.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Aplicação da plataforma Google EEFLUX para gestão da irrigação.
                                                </p>
                                                </li>
                                            <li>
                                                <p class="text-muted">
                                                 Modelagem da evapotranspiração e estimação de um coeficiente de cultura a partir do NDVI de imagens Landsat.
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2019</h4>
                                    <h4 class="subheading">Programa de Estágio Supervisionado</h4>
                                    <h6>Departamento de Matématica e Estatística<h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Execução de projetos voltados a agricultura digital.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Aplicação de Machine Learning para resoluções de problemas agronômicos.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Exploração e análise de dados utilizando linguagens R e Python.
                                                </p>
                                                </li>
                                            <li>
                                                <p class="text-muted">
                                                 Treinamento e validação de modelos estatísticos a partir de Big Data.
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">Grupo de Estudos em Cana-de-Açúcar (GECA - ESALQ/USP)</h4>
                                    <h6>Departamento de Agricultura<h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Desenvolvimento de projetos junto a instituições públicas e privadas do setor sucroenergético. 
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 Aprofundamento do conhecimento teórico-prático sobre o manejo da cana-de-açúcar.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Organização de workshops abertos.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Elaboração de artigos, participação em palestras e simpósios.
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2020</h4>
                                    <h4 class="subheading">Engenharia Agronômica <br /> Universidade de São Paulo </h4>
                                    <h6> Escola Superior de Agricultura "Luiz de Queiroz" </h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                                <p class="text-muted">
                                                Iníciou-se o bacharel em Engenharia Agronômica em 2014. 
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 Formação prevista para dezembro de 2019.
                                                </p>
                                            </li>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
