<!-- About Section -->
    <section id="experiencia">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experiência e Formação</h2>
                    <h3 class="section-subheading text-muted">Projetos revelantes</h3>
                </div>
            </div>
                        <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2020</h4>
                                    <h4 class="subheading">Programa de Ensino na Graduação</h4>
                                    <h6>Departamento de Matématica e Estatística<h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                <font face="Montserrat">Monitor na disciplina Estatística Experimental.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Planejamento e análise de experimentos agronômicos utilizando linguagem R.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Participação no ensino prático de linguagem R para alunos de graduação.</font>
                                                </p>
                                                </li>
                                            <li>
                                                <p class="text-muted">
                                                 <font face="Montserrat">Acompanhamento e orientação dos alunos na disciplina.</font>
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2019</h4>
                                    <h4 class="subheading">Programa de Iniciação Científica </h4>
                                    <h6>Departamento de Engenharia de Biossistemas</h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                <font face="Montserrat">Análise espaço-temporal e extração de insights a partir de imagens geoespaciais utilizando Google Earth Engine.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Criação de aplicações para agricultura e meio ambiente em JavaScript.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Aplicação da plataforma Google EEFLUX para gestão da irrigação.</font>
                                                </p>
                                                </li>
                                            <li>
                                                <p class="text-muted">
                                                 <font face="Montserrat">Modelagem da evapotranspiração e estimação de um coeficiente de cultura a partir do NDVI de imagens Landsat.</font>
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2019</h4>
                                    <h4 class="subheading">Programa de Estágio Supervisionado</h4>
                                    <h6>Departamento de Matématica e Estatística<h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                <font face="Montserrat">Execução de projetos voltados a agricultura digital.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Aplicação de Machine Learning para resoluções de problemas agronômicos.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Exploração e análise de dados utilizando linguagens R e Python.</font>
                                                </p>
                                                </li>
                                            <li>
                                                <p class="text-muted">
                                                 <font face="Montserrat">Treinamento e validação de modelos estatísticos a partir de Big Data.</font>
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">Grupo de Estudos em Cana-de-Açúcar (GECA - ESALQ/USP)</h4>
                                    <h6>Departamento de Agricultura<h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                                <font face="Montserrat">Desenvolvimento de projetos junto a instituições públicas e privadas do setor sucroenergético.</font> 
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 <font face="Montserrat">Aprofundamento do conhecimento teórico-prático sobre o manejo da cana-de-açúcar.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 <font face="Montserrat">Organização de workshops abertos.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                <font face="Montserrat">Elaboração de artigos, participação em palestras e simpósios.</font>
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2020</h4>
                                    <h4 class="subheading">Engenharia Agronômica <br /> Universidade de São Paulo </h4>
                                    <h6> Escola Superior de Agricultura "Luiz de Queiroz" </h6>
                                </div>
                                <hr />
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                                <p class="text-muted">
                                                <font face="Montserrat">Iníciou-se o bacharel em Engenharia Agronômica em 2014.</font>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 <font face="Montserrat">Formação prevista para dezembro de 2019.</font>
                                                </p>
                                            </li>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
