<!-- Services Section -->
    <section id="Habilidades">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Habilidades primárias</h2>
                    <h3 class="section-subheading text-muted">~2 anos de expêriencia:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ciência de dados</h4>
                    <p class="text-muted">Entusiasta em Python¹, R², JavaScript³</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sistemas de Informação Geográfica</h4>
                    <p class="text-muted">Google Earth Engine, GEE Code</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pagelines fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Agricultura de Precisão</h4>
                    <p class="text-muted">Sistemas Agrícolas, Agricultura Digital, Irrigação</p>
                </div>
            </div>
            <div class="bg-png">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Habilidades secundárias</h2>
                    <h3 class="section-subheading text-muted">~1 ano de experiência:</h3>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-excel-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Excel</h4>
                    <p class="text-muted">Tabela Dinâmica, VBA, Macros, Gráficos, etc</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Databases</h4>
                    <p class="text-muted">SQL, Relational (SQLite) and NoSQL (MongoDB)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-powerpoint-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Power Point</h4>
                    <p class="text-muted">Apresentações e Layouts</p>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science Frameworks</h4>
                    <p class="text-muted">pandas, scikit-learn, numpy, tensor-flow, keras, matplotlib, seaborn</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inteligência Artificial</h4>
                    <p class="text-muted">Machine Learning, Deep Learning, Redes Neurais Convolucionais</p>
                </div>
            </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Noções de uso</h2>
                    <h3 class="section-subheading text-muted">Ferramentas que estou aprendendo</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento de Aplicativos</h4>
                    <p class="text-muted">API, Android, iOS , Web</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ferramentas de Controle de Versão</h4>
                    <p class="text-muted">Git, Github</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">QGIS</h4>
                    <p class="text-muted">Criação mapas e análise de imagens</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computação em Nuvem</h4>
                    <p class="text-muted">Internet of Things, Arduino, Automação</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Big Data Frameworks</h4>
                    <p class="text-muted">Hadoop, Apache Spark</p>
                </div>
            </div>
    </section>
